@mixin animated-menu-item-borders {
	a {
		position: relative;
		display: block;
		padding: 10px;

		.border {
			position: absolute;
			left: 0;
			background: currentColor;
			transition: transform 0.3s ease-in-out;
		}

		.border-top,
		.border-bottom {
			width: 100%;
			height: 1px;
			transform: scaleX(0);
		}

		.border-left,
		.border-right {
			width: 1px;
			height: 100%;
			transform: scaleY(0);
		}

		.border-top {
			top: 0;
			transform-origin: top left;
		}
		.border-right {
			top: 0;
			right: 0;
			left: auto;
			transform-origin: top center;
		}
		.border-bottom {
			bottom: 0;
			transform-origin: bottom right;
		}
		.border-left {
			top: 0;
			transform-origin: bottom left;
		}

		&:hover {
			background-color: transparent !important;
			.border-top,
			.border-bottom {
				transform: scaleX(1);
			}

			.border-left,
			.border-right {
				transform: scaleY(1);
			}

			.border-top {
				transition-delay: 0s;
			}
			.border-right {
				transition-delay: 0.1s;
			}
			.border-bottom {
				transition-delay: 0.2s;
			}
			.border-left {
				transition-delay: 0.3s;
			}
		}
	}

	&[data-animation='diagonal'] {
		a {
			.border-left {
				transform-origin: top left;
			}
			.border-right {
				transform-origin: bottom right;
				right: 0;
				left: auto;
			}
			&:hover {
				[class^='border'] {
					transition-delay: 0s;
				}
			}
		}
	}
}
